[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
email-validator = "*"
flask-bcrypt = "*"
flask-login = "*"
sqlalchemy-paginate = "*"
flask-paginate = "*"

[dev-packages]

[requires]
python_version = "3.11"
